


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.navbar-brand{
    font-weight:700;
    font-size: 36px;
     color: rgb(36, 62, 211) !important;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
    font-size:1rem;
    font-weight:600;
    

}

.nav-link{
    border-bottom:1px solid rgb(36, 62, 211);
    border-bottom-width: 3px;
}

.header_area .main-menu .navbar-nav .active a{
    background:  rgb(36, 62, 211);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: linear-gradient(90deg, rgb(36, 62, 211) 0%, rgb(36, 62, 211) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.dropdown-item{
    color:black;
    font-weight:bold;
}


.hov:hover{
    color:white !important;
    background-color:rgb(36, 62, 211) !important;
}



/* end navigation */ 

